extends layout

block content
	div#map_canvas(style='width:100%;height:100%')
	script(src='/javascripts/map_styles.js')
	script(src='/javascripts/vendor/pixi.js/bin/pixi.js')
	script(src='/javascripts/vendor/pixi-particles/dist/pixi-particles.min.js')
	script(src='/javascripts/geowar.js')
